td {
	font-size: small;
}

.gauge {
    margin:10px 5px 0 0;
    padding:6px 16px;
    overflow: inherit;
}
.gauge svg {
	height: 210;
}
/*.gauge .gauge-text {
    y:100;
}
*/
#gagueChart_div table {
    margin:auto;
}
    /*
     * Flash animation
    */
    @-webkit-keyframes flash {
        0%, 50%, 100% {opacity: 1;}
        25%, 75% {opacity: 0;}
    }
    @keyframes flash {
        0%, 50%, 100% {opacity: 1;}
        25%, 75% {opacity: 0;}
    }
    .flash {
        -webkit-animation-name: flash;
        animation-name: flash;
    }

