@(message: String)
<html lang="en" ng-app="StarterApp">
<head>
    <!--#formatter:off-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/material.css")">
    <meta name="viewport" content="initial-scale=1"/>
    <!--#formatter:on-->
</head>
<body layout="column" ng-controller="AppCtrl">
<md-toolbar>
    <div layout="row" layout-align="space-around center">
        <div>
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="visually-hidden"></span>
            </button>
        </div>
        <div>
            <!--#formatter:off-->
            <img src="@routes.Assets.versioned("images/kuoni2x.png")" id="logo" title="Kuoni Travel" alt="Kuoni Travel" class="logo">
        <!--#formatter:om-->
            </div>
        <div layout="row" layout-align="space-around center">
            <!--<div flex="77" layout="row" layout-align="space-around center"> -->
            <h1 class="md-toolbar-tools md-raised">ASYNC response testing server <p class="version">2.0</p>
                <!--<button ng-click="showGridBottomSheet()">-->
                <!--<button ng-click="showWhatsNew($event)">-->
                <a href="#" ng-click="showGridBottomSheet()">
                    <sup class="md-whiteframe-1dp">What's New</sup></a>
                <!--</button>-->
            </h1>
        </div>
        <!--
                <div layout="row">
                    <md-tooltip>Server Connection:{{client.connected}}</md-tooltip>
                    <md-switch ng-model="client.connected" aria-label="Connected"></md-switch>
                </div>
        -->
        <div layout="row">
            <md-tooltip>Show automation files:{{client.showAutomation}}</md-tooltip>
            <md-switch ng-model="client.showAutomation" aria-label="Show automation files"></md-switch>
        </div>
        <div flex="13">
            <md-button class="md-fab md-raised md-primary md-hue-1" ng-disabled="!searchEnabled"
                       ng-click="toggleRight()" aria-label="Search">
                <ng-md-icon icon="search" style="fill: wheat" size="32px" options='{"duration": 375}'>Search
                </ng-md-icon>
                <!--<md-tooltip ng-show="!searchEnabled">Search feature coming soon</md-tooltip>-->
            </md-button>
            <md-tooltip>Search feature coming soon</md-tooltip>
        </div>
        <!--<div><h5><a target="_blank" href="/api/index.html">Ver2.0</a></h5></div>-->
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-8dp" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar md-scroll-shrink class="md-info md-hue-1">
            <div class="md-toolbar-tools" layout-align="center center" flex>
                <div flex="44">
                    <h5 class="md-title">Files received</h5>
                </div>
                <div flex="33" layout-align="right center">
                    <md-button ng-disabled="client.allLoaded" class="md-raised md-primary md-hue-1"
                               ng-click="loadAll()" aria-label="Load all">
                        <ng-md-icon icon="list" style="fill: wheat" size="32px"
                                    options='{"duration": 375}'>
                            <md-tooltip>Load all</md-tooltip>
                        </ng-md-icon>
                    </md-button>
                </div>
                <div flex="22" layout-align="right right">
                    <md-button ng-if="!$client.allLoaded" class="md-accent" ng-click="clearAll()"
                               aria-label="Clear all">
                        <ng-md-icon icon="clear_all" style="fill: wheat" size="32px" options='{"duration": 375}'>
                            <md-tooltip>Clear all</md-tooltip>
                        </ng-md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>

        <div ng-cloak>
            <md-content layout-padding>
                <md-input-container class="md-block filter-input" flex-gt-xs>
                    <label for="fileNamePrefix">Filter files starting with</label>
                    <input type="text" id="fileNamePrefix"
                           ng-model="fileNamePrefix" md-sidenav-focus>
                </md-input-container>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="xml ({{xmls.length}})">
                        <md-content class="md-padding">
                            <!--<h1 class="md-display-2">XML's</h1>-->
                            <md-list>
                                <md-list-item ng-repeat="xml in xmls">
                                    <div layout="row" ng-class="{'newFile': xml.newFile}">
                                        <div flex="88" ng-click="loadXML(xml)" class="pointer"><p>{{ xml.name }}</p>
                                            <md-tooltip>{{ xml.time }}</md-tooltip>
                                        </div>
                                        <div flex="22" class="md-secondary xmlDownloadBtn">
                                            <a target="_blank" ng-href="file/download/{{xml.typ}}/{{xml.uuid}}">
                                                <ng-md-icon class="md-avatar" icon="cloud_download" style="fill: wheat"
                                                            size="24px"
                                                            options='{"duration": 375}'></ng-md-icon>
                                            </a>
                                            <md-tooltip>Download</md-tooltip>
                                        </div>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="zip ({{zips.length}})">
                        <md-content class="md-padding">
                            <!--<h1 class="md-display-2">XML's</h1>-->
                            <md-list>
                                <md-list-item ng-repeat="zip in zips">
                                    <div layout="row" ng-class="{'newFile': zip.newFile}">
                                        <div flex="88" ng-click="loadXML(zip)" class="pointer"><p>{{ zip.name }}</p>
                                            <md-tooltip>{{ zip.time }}</md-tooltip>
                                        </div>
                                        <div flex="22" class="md-secondary xmlDownloadBtn">
                                            <a target="_blank" ng-href="file/download/{{zip.typ}}/{{zip.uuid}}">
                                                <ng-md-icon class="md-avatar" icon="cloud_download" style="fill: wheat"
                                                            size="24px"
                                                            options='{"duration": 375}'></ng-md-icon>
                                            </a>
                                            <md-tooltip>Download</md-tooltip>
                                        </div>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab>
                </md-tabs>
                <!--</md-list>-->
            </md-content>
            <!--
                        <md-content layout-padding>
                            <md-input-container>
                                <label for="fileNamePrefix">Filter files starting with</label>
                                <input type="text" id="fileNamePrefix"
                                       ng-model="fileNamePrefix" md-sidenav-focus>
                            </md-input-container>

                            <md-list>
                                <md-list-item ng-repeat="xml in xmls">
                                    <div layout="row" ng-class="{'newFile': xml.newFile}">
                                        <div flex="88" ng-click="loadXML(xml)" class="pointer"><p>{{ xml.name }}</p></div>
                                        <div flex="22" class="md-secondary xmlDownloadBtn">
                                            <a ng-href="xml/{{xml.name}}">
                                                <ng-md-icon class="md-avatar" icon="cloud_download" style="fill: wheat" size="24px"
                                                            options='{"duration": 375}'></ng-md-icon>
                                            </a>
                                            <md-tooltip>Download</md-tooltip>
                                        </div>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
            -->
        </div>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h2 class="md-flex md-title">FileName: {{loadedFile.name}}</h2>
            </div>
        </md-toolbar>
        <md-content layout="column" flex class="md-padding" layout-padding="">
            <md-progress-circular ng-if="data.fileLoading" class="md-hue-2"
                                  md-mode="indeterminate"></md-progress-circular>
            <p ng-if="!data.fileLoading">{{loadedFile.content}}</p>
            <!--<p ng-if="!data.fileLoading" ng-bind-html="loadedFile.content"></p>-->
            <!--<div ng-bind-html="loaded"></div>-->

            <!--Alert-->
            <div ng-if="alert">
                <br/>
                <b layout="row" layout-align="center center" class="md-padding">
                    {{alert}}
                </b>
            </div>
        </md-content>


        <md-sidenav layout="column" class="md-sidenav-right" md-component-id="right">
            <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">-->
            <md-toolbar class="md-theme-light md-hue-2">
                <h1 class="md-toolbar-tools">Search for XML responses</h1>
            </md-toolbar>
            <md-content ng-controller="SearchController" layout-padding>
                <form name="searchForm">
                    <md-input-container>
                        <label for="testInput">File name</label>
                        <input type="text" id="testInput" ng-model="searchData.name" md-sidenav-focus>
                    </md-input-container>
                    <md-input-container>
                        <label for="createdDate">Created since (yyyy-mm-dd)</label>
                        <input type="text" id="createdDate" name="createdDate" ng-model="searchData.creationDate"
                               ng-pattern="/^[0-9]{1,4}-[0-1][0-9]-[0-3][0-9]$/" md-sidenav-focus>

                        <div ng-messages="searchForm.createdDate.$error">
                            <div ng-message="pattern">Date is not valid!</div>
                        </div>

                    </md-input-container>
                    <md-input-container flex layout-padding>
                        <md-button ng-click="searchXML()" class="md-raised md-primary">Search</md-button>
                        <md-button ng-click="close()" class="md-accent  md-hue-1">Close</md-button>
                    </md-input-container>
                </form>
                <div ng-if="isResultEmpty">
                    <md-divider></md-divider>
                    <p>No Result Found</p>
                </div>

                <md-list ng-repeat="(dateKey, xmlList) in searchResult">
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Created Date: {{dateKey | date:'yyyy-MM-dd' }}</md-subheader>
                    <md-list-item class="pointer" ng-repeat="xml in xmlList" ng-click="viewXML(xml)">
                        <p class="md-hue-1">{{ xml.name }}</p>
                    </md-list-item>
                </md-list>

            </md-content>
        </md-sidenav>

    </div>

    <script type="text/ng-template" id="bottom-sheet-grid-template.html">
        <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
            <div layout="row" layout-align="center center">
                <h4>Drag down or press ESC to close</h4>
            </div>
            <div layout="row" layout-align="center center">
                <h5>Completely new tech stack &nbsp;&nbsp;&nbsp;</h5>
                <a href="mailto:joseph.sebastian@@gta-travel.com">
                    <ng-md-icon icon="contact_mail" size="32px" options='{"duration": 375}'>
                        <md-tooltip>Contact Me</md-tooltip>
                    </ng-md-icon>
                </a>
            </div>
            <div>
                <md-list flex layout="row" layout-align="center center">
                    <md-list-item ng-repeat="item in items" class="image-item">
                        <a target="_blank" href="{{item.url}}">
                            <img ng-src="{{item.icon}}" class="tech-image" alt="{{item.name}}" width="{{item.width}}"
                                 height="{{item.height}}">
                        </a>
                    </md-list-item>
                </md-list>
            </div>
        </md-bottom-sheet>
    </script>
    <!--#formatter:off-->
<!-- Angular Material Dependencies -->
<script data-main="@routes.Assets.versioned("javascripts/lib/sockjs.min.0.1.js")" type="text/javascript" src="@routes.Assets.versioned("javascripts/lib/sockjs.min.0.1.js")"></script>
<script data-main="@routes.Assets.versioned("javascripts/lib/stomp.min.0.1.js")" type="text/javascript" src="@routes.Assets.versioned("javascripts/lib/stomp.min.0.1.js")"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
<!--<script src="@routes.Assets.versioned("javascripts/angularApp.0.1.js")"></script>-->
<script data-main="@routes.Assets.versioned("javascripts/angularApp.0.1.js")" type="text/javascript" src="@routes.Assets.versioned("javascripts/angularApp.0.1.js")"></script>
<!--#formatter:on-->
</body>
</html>
