@(message: String)
<html lang="en" ng-app="StarterApp">
<body layout="column">
<md-toolbar>
    <div layout="row" layout-align="space-around center">
        <div>
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="visually-hidden"></span>
            </button>
        </div>
        <div flex="77" layout="row" layout-align="space-around center">
            <h3 class="md-toolbar-tools md-raised">Load testing dashboard</h3>
        </div>
    </div>
</md-toolbar>
<div layout="row" flex ng-controller="AppCtrl" ng-init="initChart()">
    <div layout="column" flex id="content">
        <div class="col-xs-offset-5 col-xs-2" ng-if="dataLoading">
            <div class="col-xs-offset-3">
                <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <md-content layout="row" flex class="md-padding" ng-if="!dataLoading">
            <div class="col-lg-4 col-sm-4" id="data-table-price">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> <h4>Cheapest Price</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-prices">
                                <!--<caption>Cheapest Price</caption>-->
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Number</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Prices Matching</td>
                                    <td>{{chartDataPrice.data.bothSame}}</td>
                                    <td>{{chartDataPrice.data.bothSamePct}}%</td>
                                </tr>
                                <tr>
                                    <td>Nova > Legacy</td>
                                    <td>{{chartDataPrice.data.nova}}</td>
                                    <td>{{chartDataPrice.data.novaPct}}%</td>
                                </tr>
                                <tr>
                                    <td>Legacy > Nova</td>
                                    <td>{{chartDataPrice.data.legacy}}</td>
                                    <td>{{chartDataPrice.data.legacyPct}}%</td>
                                </tr>
                                <tr>
                                    <td>Prices NA returned</td>
                                    <td>{{chartDataPrice.data.bothZeroHotels}}</td>
                                    <td>{{chartDataPrice.data.bothZeroHotelsPct}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="priceChart" class="chart chart-pie" data="chartDataPrice.pieData"
                                labels="chartDataPrice.labels" legend="true"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4" id="data-table-hotel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> <h4>Hotels Returned</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-hotels">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Number</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Hotels Matching</td>
                                    <td>{{chartDataHotel.data.bothSame}}</td>
                                    <td>{{chartDataHotel.data.bothSamePct}}%</td>
                                </tr>
                                <tr>
                                    <td>Nova > Legacy</td>
                                    <td>{{chartDataHotel.data.nova}}</td>
                                    <td>{{chartDataHotel.data.novaPct}}%</td>
                                </tr>
                                <tr>
                                    <td>Legacy > Nova</td>
                                    <td>{{chartDataHotel.data.legacy}}</td>
                                    <td>{{chartDataHotel.data.legacyPct}}%</td>
                                </tr>
                                <tr>
                                    <td>Zero Hotels returned</td>
                                    <td>{{chartDataHotel.data.bothZeroHotels}}</td>
                                    <td>{{chartDataHotel.data.bothZeroHotelsPct}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-body">
                        <canvas id="hotelChart" class="chart chart-pie" data="chartDataHotel.pieData"
                                labels="chartDataHotel.labels" legend="true"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4" id="data-table-rooms">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> <h4>Rooms Returned</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-rooms">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Number</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Rooms Matching</td>
                                    <td>{{chartDataRoom.data.bothSame}}</td>
                                    <td>{{chartDataRoom.data.bothSamePct}}%</td>
                                </tr>
                                <tr>
                                    <td>Nova > Legacy</td>
                                    <td>{{chartDataRoom.data.nova}}</td>
                                    <td>{{chartDataRoom.data.novaPct}}%</td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Legacy > Nova</td>
                                    <td>{{chartDataRoom.data.legacy}}</td>
                                    <td>{{chartDataRoom.data.legacyPct}}%</td>
                                </tr>
                                <tr>
                                    <td>Zero Rooms returned</td>
                                    <td>{{chartDataRoom.data.bothZeroHotels}}</td>
                                    <td>{{chartDataRoom.data.bothZeroHotelsPct}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-body">
                        <canvas id="roomChart" class="chart chart-pie" data="chartDataRoom.pieData"
                                labels="chartDataRoom.labels" legend="true"></canvas>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>
<!--#formatter:off-->
<!-- Angular Material Dependencies -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/lib/sb-admin-2.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/lib/Chart.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/lib/angular-chart.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/lib/angular-datatables.min.js")" type="text/javascript"></script>
<!--<script src="js/Chart.min.js"></script>-->
<!--<script src="js/angular-chart.min.js"></script>-->

<script src="@routes.Assets.versioned("javascripts/load.js")" type="text/javascript"></script>
<!--<script src="js/load.js"></script>-->
<!--#formatter:on-->
</body>
<head>
    <!--#formatter:off-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="css/material.css">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/angular-chart.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/sb-admin-2.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/timeline.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/load.css")">
    <!--<link rel="stylesheet" href="css/angular-chart.css">-->
    <!--<link rel="stylesheet" href="css/load.css">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--#formatter:on-->
</head>
</html>
